* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
}

.heading-text {
  text-align: center;
  padding: 30px 0;
  font-weight: bolder;
  background-color: #0d2d5b;
  color: #fff;
}

.time-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.time-zone .name {
  text-align: center;
  padding: 10px 0;
}

#zone {
  padding: 15px 0;
  margin: 20px 0;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  background-color: #0d2d5b;
  color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: bolder;
  font-size: 20px;
}

.image {
  margin-top: 20px;
}

.world-img {
  max-width: 100%;
}
